{% extends "modern/1_ModernBase.html" %}

{% block title %}Search{% endblock %}

{% block content %}
	<!-- Video History -->
	<div class="settings-header">
		<p>History</p>
	</div>
	<!-- Video Preview Grid -->
	<div class="video-preview-container">
		{% for video in videos %}
			<div class="video-preview">
				<a href="/{{ video.uploader_id }}/{{ video.video_id }}">
					<div class="video-preview-top">
						<img class="video-preview-thumbnail" src="/static/channels/{{ video.uploader_id }}/thumbnails/{{ video.video_id }}.jpg">
						<span class="video-preview-duration">{{ video.duration }}</span>
					</div>
				</a>
				<div class="video-preview-bottom">
					<div class="video-preview-info">
						<a href="/{{ video.uploader_id }}/{{ video.video_id }}" class="video-preview-title history">{{ video.title }}</a>
						<br>
						<a href="/{{ video.uploader_id }}/{{ video.video_id }}" class="video-preview-sub-info history">Watch At: {{ video.watched_at }}</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<!-- Page Controls -->
	{% if total_pages > 1 %}
	<div class="channel-page-select-box">
		{% if page > 1 %}
			<a href="?sort={{ sort_by }}&page={{ page - 1 }}">Previous</a>
		{% endif %}
		<span>Page {{ page }} of {{ total_pages }}</span>
		{% if page < total_pages %}
			<a href="?sort={{ sort_by }}&page={{ page + 1 }}">Next</a>
		{% endif %}
	</div>
	{% endif %}
	{% if total_pages == 0 %}
	<div class="channel-page-select-box">
		<span>No history</span>
	</div>
	{% endif %}
{% endblock %}