{% extends "legacy/1_LegacyBase.html" %}

{% block title %}NDBTube - Account{% endblock %}

{% block content %}
	<!-- Account -->
	<div class="settings-header" id="userInfo" userID="{{ user['id'] }}" username="{{ user['username'] }}">
		<p>Account: {{ user["username"] }}</p>
		<a href="/AccountManagement" class="settings-page-button">Back</a>
	</div>
	
	<!-- Role -->
	<div class="settings-header">
		<p>Change Role</p>
	</div>
	<div class="settings-panel">
		<div>
			<div class="balls main"> 
				<label for="role">Role:</label>
				<select name="role" id="role" class="select-main">
					<option value="user" {% if current_role == "user" %}selected{% endif %}>User</option>
					<option value="admin" {% if current_role == "admin" %}selected{% endif %}>Admin</option>
				</select>
			</div>
			<div class="balls main">
				<button type="button" onclick="saveRole()" class="settings-page-apply-button main">Save</button>
			</div>
		</div>
	</div>
	
	<!-- Change Password -->
	<div class="settings-header">
		<p>Change Password</p>
	</div>
	<div class="settings-panel">
		<div>
			<div class="balls main">
				<label for="current">Current Password:</label>
				<input type="password" id="current" name="current" class="select-main">
			</div>
			<div class="balls main">
				<label for="new">New Password:</label>
				<input type="password" id="new" name="new" class="select-main">
			</div>
			<div class="balls main">
				<label for="confirm">Confirm Password:</label>
				<input type="password" id="confirm" name="confirm" class="select-main">
			</div>
			<div class="balls main">
				<button type="button" onclick="savePassword()" class="settings-page-apply-button main">Save</button>
			</div>
		</div>
	</div>
	
	<!-- Delete Account -->
	<div class="settings-header">
		<p>Delete Account</p>
	</div>
	<div class="settings-panel management">
		<div class="settings-panel-form">
			<div class="balls">
				<label for="deletepassword">Account Password:</label>
				<input type="password" id="deletepassword" name="deletepassword" class="select-main">
			</div>
			<div class="balls main">
				<button type="button" onclick="deleteAccount()" class="settings-page-apply-button main">Delete</button>
			</div>
		</div>
	</div>
	
	<script>
		const username = "{{ user['username'] }}";
		const userID = "{{ user['id'] }}";
	</script>
	<script src="/static/JS/Account_Management.js"></script>
{% endblock %}