{% extends "legacy/1_LegacyBase.html" %}

{% block title %}Home - NDBTube{% endblock %}

{% block content %}
  <!-- Video Preview Grid -->
	<div class="video-grid">
		{% for video in videos %}
			{% if loop.index % 3 == 1 %}
				<div class="video-row clearfix">
					{% endif %}
						<a href="/{{ video.uploader_id }}/{{ video.video_id }}">
							<div class="video-preview">
								<img class="video-thumbnail" src="/{{ video.thumbnail_location }}" alt="{{ video.title }}">
								<p>{{ video.duration }}</p>
								<div class="video-title">{{ video.title }}</div>
								<div class="video-meta">
									<span>{{ video.uploader }}</span> &bull; <span>{{ video.uploaddate }}</span>
								</div>
							</div>
						</a>
					{% if loop.index % 3 == 0 or loop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}