{% extends "legacy/1_LegacyBase.html" %}

{% block title %}{{ video.title }} - NDBTube{% endblock %}

{% block content %}
	<!-- Video Player -->
	<div class="video-player-container">
		<video controls>
			<source src="/video/{{ video.uploader_id }}/{{ video.video_id }}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		<h1>{{ video.title }}</h1>
		<p>Views: {{ video.views[1] }} &bull; Likes: {{ video.likes[1] }}  &bull; Upload Date: {{ video.uploaddate }}</p>
		
		<img src="/icon/{{ channel_info.uploader_id }}" alt="{{ channel_info.uploader }} icon" class="video-player-channel-icon">
		<div class="video-player-channel-info">
			<p>{{ channel_info.uploader }} &bull; Subscribers: {{ channel_info.subscriber_count[1] }}</p>
		</div>
		<a href="/{{ channel_info.uploader_id }}" class="video-player-channel-button">View Channel</a>
	</div>
	<div class="video-player-description">
		<h2>Original video: <a href="https://youtu.be/{{ video.video_id }}" target="_blank">https://youtu.be/{{ video.video_id }}</a></h2>
		<h2>Description:</h2>
		<p id="description-text">{{ video.description|replace('\n', '<br>')|safe }}</p>
		<a href="javascript:void(0);" id="toggle-description" onclick="toggleDescription()">Show more...</a>
	</div>
	
	<!-- Video Suggestions -->
	<div class="video-list-header">
		<p>Random videos</p>
	</div>
	<div class="video-grid">
		{% for video in videos %}
			{% if loop.index % 3 == 1 %}
				<div class="video-row clearfix">
					{% endif %}
						<a href="/{{ video.uploader_id }}/{{ video.video_id }}">
							<div class="video-preview">
								<img class="video-thumbnail" src="/thumbnail/{{ video.uploader_id }}/{{ video.video_id }}" alt="{{ video.title }}">
								<p>{{ video.duration }}</p>
								<div class="video-title">{{ video.title }}</div>
								<div class="video-meta">
								<span>{{ video.uploader }}</span> &bull; <span>{{ video.uploaddate }}</span>
								</div>
							</div>
						</a>
					{% if loop.index % 3 == 0 or loop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<!-- Description access -->
	<script type="text/javascript">
		function toggleDescription() {
			var desc = document.getElementById("description-text");
			var toggle = document.getElementById("toggle-description");

			if (desc.style.maxHeight && desc.style.maxHeight != "40px") {
				desc.style.maxHeight = "40px";
				toggle.innerHTML = "Show more...";
			} else {
				desc.style.maxHeight = desc.scrollHeight + "px";
				toggle.innerHTML = "Show less...";
			}
		}

		window.onload = function () {
			var desc = document.getElementById("description-text");
			var toggle = document.getElementById("toggle-description");
			var originalMax = desc.style.maxHeight;
			desc.style.maxHeight = "none";
			var fullHeight = desc.scrollHeight;
			desc.style.maxHeight = originalMax;

			if (fullHeight <= 40) {
				toggle.style.display = "none";
			}
		};
	</script>

{% endblock %}
