{% extends "legacy/7_0_LegacyChannelBase.html" %}

{% block title %}{{ channel_info.uploader }} - Home{% endblock %}

{% block content %}
	<!-- Channel Navigation Buttons -->
	<div class="channel-page-nav">
		<button class="active-tab" onclick="window.location.href='/{{ channel_info.uploader_id }}'">Home</button>
		{% if "videos" in channel_info.downloaded_sections %}
			<button onclick="window.location.href='/{{ channel_info.uploader_id }}/videos'">Videos</button>
		{% endif %}
		{% if "shorts" in channel_info.downloaded_sections %}
			<button onclick="window.location.href='/{{ channel_info.uploader_id }}/shorts'">Shorts</button>
		{% endif %}
		{% if "streams" in channel_info.downloaded_sections %}
			<button onclick="window.location.href='/{{ channel_info.uploader_id }}/streams'">Streams</button>
		{% endif %}
		
		{% if "playlists" in channel_info.downloaded_sections %}
			<button onclick="window.location.href='/{{ channel_info.uploader_id }}/playlists'">Playlists</button>
		{% endif %}
		<button onclick="window.location.href='/{{ channel_info.uploader_id }}/about'">About</button>
	</div>

	<!-- Video Preview Grid -->
		<div class="video-list-header">
			<p>Recent uploads</p>
		</div>
		<div class="video-grid">
		{% for video in recent_videos %}
			{% if loop.index % 3 == 1 %}
				<div class="video-row clearfix">
					{% endif %}
					<a href="/{{ video.uploader_id }}/{{ video.video_id }}">
						<div class="video-preview">
							<img class="video-thumbnail" src="/thumbnail/{{ video.uploader_id }}/{{ video.video_id }}" alt="{{ video.title }}">
							<p>{{ video.duration }}</p>
							<div class="video-title">{{ video.title }}</div>
							<div class="video-meta">
								<span>{{ video.views[1] }} views</span> &bull; <span>{{ video.uploaddate }}</span>
							</div>
						</div>
					</a>
					{% if loop.index % 3 == 0 or loop.last %}
				</div>
			{% endif %}
		{% endfor %}
		</div>
		
		<div class="video-list-header">
			<p>Random</p>
		</div>
		<div class="video-grid">
		{% for video in random_videos %}
			{% if loop.index % 3 == 1 %}
			<div class="video-row clearfix">
				{% endif %}
				<a href="/{{ video.uploader_id }}/{{ video.video_id }}">
				<div class="video-preview">
					<img class="video-thumbnail" src="/thumbnail/{{ video.uploader_id }}/{{ video.video_id }}" alt="{{ video.title }}">
					<p>{{ video.duration }}</p>
					<div class="video-title">{{ video.title }}</div>
					<div class="video-meta">
						<span>{{ video.views[1] }} views</span> &bull; <span>{{ video.uploaddate }}</span>
					</div>
				</div>
				</a>
				{% if loop.index % 3 == 0 or loop.last %}
			</div>
			{% endif %}
		{% endfor %}
		</div>
{% endblock %}
