{% extends "legacy/1_LegacyBase.html" %}

{% block title %}Playlist - {{ playlist.title }}{% endblock %}

{% block content %}
	<!-- Playlist info -->
	<div class="playlist-page">
		<button onclick="window.location.href='/{{ channel_info.uploader_id }}/playlists'">Back</button>
		<h2>Playlist: {{ playlist.title }}</h2>
		<p>{{ playlist.amount }} videos</p>
		<h2>Youtube link:</h2>
		<p><a href="https://youtube.com/playlist?list={{ playlist.playlist_id }}">https://youtube.com/playlist?list={{ playlist.playlist_id }}</a></p>
		<h2>Description:</h2>
		<p>{{ playlist.description|replace('\n', '<br>')|safe }}</p>
	</div>
	
	<!-- Video Preview Grid -->
	<div class="video-grid">
		{% for video in paginated_videos %}
			{% if loop.index % 3 == 1 %}
				<div class="video-row clearfix">
			{% endif %}
				<a href="/{{ video.uploader_id }}/{{ video.video_id }}">
					<div class="video-preview">
						<img class="video-thumbnail" src="/static/channels/{{ video.uploader_id }}/thumbnails/{{ video.video_id }}.jpg" alt="{{ video.title }}">
						<p>{{ video.duration }}</p>
						<div class="video-title">{{ video.title }}</div>
						<div class="video-meta">
							<span>{{ video.uploader_id }}</span> &bull; <span>{{ video.video_id }}</span>
						</div>
					</div>
				</a>
			{% if loop.index % 3 == 0 or loop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	
	<!-- Page Controls -->
	<div class="channel-page-select-box">
		{% if page > 1 %}
			<a href="?page={{ page - 1 }}">Previous</a>
		{% endif %}
		<span>Page {{ page }} of {{ total_pages }}</span>
		{% if page < total_pages %}
			<a href="?page={{ page + 1 }}">Next</a>
		{% endif %}
	</div>
{% endblock %}