{% extends "legacy/7_0_LegacyChannelBase.html" %}

{% block title %}{{ channel }} - About{% endblock %}

{% block content %}
	<!-- Channel Navigation Buttons -->
	<div class="channel-page-nav">
		<button onclick="window.location.href='/{{ channel_info.uploader_id }}'">Featured</button>
		<button onclick="window.location.href='/{{ channel_info.uploader_id }}/videos'">Videos</button>
		{% if "shorts" in channel_info.channel_sections %}
			<button onclick="window.location.href='/{{ channel_info.uploader_id }}/shorts'">Shorts</button>
		{% endif %}
		{% if "streams" in channel_info.channel_sections %}
			<button onclick="window.location.href='/{{ channel_info.uploader_id }}/streams'">Streams</button>
		{% endif %}
		
		{% if "playlists" in channel_info.channel_sections %}
			<button onclick="window.location.href='/{{ channel_info.uploader_id }}/playlists'">Playlists</button>
		{% endif %}
		<button class="active-tab" onclick="window.location.href='/{{ channel_info.uploader_id }}/about'">About</button>
	</div>
	<div class="channel-page-about">
		<h2>Channel description:</h2>
		<p>{{ channel_info.description|replace('\n', '<br>')|safe }}</p>
		<h2>Channel info:</h2>
		<p>Youtube Channel Link: <a href="https://youtube.com/{{ channel_info.uploader_id }}">https://youtube.com/{{ channel_info.uploader_id }}</a></p>
		<p>Total channel views: {{ channel_info.total_views[0] }}</p>
		<p>Total channel subscribers: {{ channel_info.subscriber_count[0] }}</p>
		<p>Channel Last Checked: {{ channel_info.last_checked }}</p>
	</div>
{% endblock %}