{% extends "legacy/1_LegacyBase.html" %}

{% block title %}History - NDBTube{% endblock %}

{% block content %}
	<!-- Video History -->
	<div class="settings-header">
		<p>History</p>
		<a href="/settings" class="settings-page-button">Back</a>
	</div>
	<!-- Video Preview Grid -->
	<div class="video-grid">
		{% for video in videos %}
			{% if loop.index % 3 == 1 %}
				<div class="video-row clearfix">
					{% endif %}
						<a href="/{{ video.uploader_id }}/{{ video.video_id }}">
							<div class="video-preview">
								<img class="video-thumbnail" src="/static/channels/{{ video.uploader_id }}/thumbnails/{{ video.video_id }}.jpg" alt="{{ video.title }}">
								<p>{{ video.duration }}</p>
								<div class="video-title">{{ video.title }}</div>
								<div class="video-meta">
									<span>Watched At: {{ video.watched_at }}</span>
								</div>
							</div>
						</a>
					{% if loop.index % 3 == 0 or loop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<!-- Page Controls -->
	{% if total_pages > 1 %}
	<div class="channel-page-select-box">
		{% if page > 1 %}
			<a href="?sort={{ sort_by }}&page={{ page - 1 }}">Previous</a>
		{% endif %}
		<span>Page {{ page }} of {{ total_pages }}</span>
		{% if page < total_pages %}
			<a href="?sort={{ sort_by }}&page={{ page + 1 }}">Next</a>
		{% endif %}
	</div>
	{% endif %}
	{% if total_pages == 0 %}
	<div class="channel-page-select-box">
		<span>No history</span>
	</div>
	{% endif %}
{% endblock %}
